@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: grey;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f8f9fa;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section__container {
  margin-top: 88px !important; /* Adjust the value based on your navbar height */
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: 50%;
  border-radius: 5%;
}


.technologies {
  text-align: center;
  margin-top: 50px;
}

.tech-item {
  margin: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.tech-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tech-item span {
  display: block;
  font-size: 1.2em;
  color: #333;
}

.tech-item:hover {
  transform: scale(1.1);
}

.center {
  text-align: center;
}
.tech-cards {
  margin-bottom: 30px;
  display: inline-block;
}
.tech-cards .card-group {
  gap: 25px;
}

.tech-cards .card-group .card {
  border: none;
}

.tech-item.version img {
  width: 85%;
  height: 70px;
  border-radius: 0;
}
.hello-json svg{
  height: 200px !important;
  width: 30% !important;
}

.cards-cont1 .card {
  margin: 0 0 25px 0;
}
.cards-cont1 .card .version {
  display: block;
}
.cards-cont1 .card .version img {
  width: auto;

}

.scripts svg {
  height: auto !important;
}

.scripts svg {
  position: relative;
  right: 70px;
}
.scripts .html {
  position: absolute;
  top: 50px;
  right: 150px;
}

.scripts .hello-json {
  position: relative;
}
.scripts .css {
  position: absolute;
  top: 188px;
  right: 155px;
}
.scripts .js-icons .js{
  position: relative;
  bottom: 75px;
  left: 50px;
}
.cards-cont1 .mysql img {
  height: 100px;
}
.sass-icons {
  display: flex;
}
.sass-icons img {
  width: 50%;
  position: relative;
  left: 35px;
}
.sass-icons .sass {
  display: inline-flex;
  align-items: center;
}

.website-icon svg{
  width: 15% !important;
}

.marquee-container {
  display: none;
}
.node-img img {
  border-radius: 0;
  width: 160px;
}

@media (max-width: 1199px) {
  .marquee-container {
    display: block;
    max-height: 15vh;
  }
  .marquee-container img {
    max-height: 12vh;
    max-width: 70%;
    margin: 0 20px;
  }

  .tech-cards {
    display: none;
  }
}
@media (width < 750px) {
  .sass-icons img {
    width: 30%;
    left: 65px;
  }
  .website-icon svg{
    width: 25% !important;
  }
  .card:hover {
    transform: none;
  }
  .tech-cards .card-group {
    display: flex;
    flex-flow: column-reverse;
  }
  .sass-icons .sass {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: 60px;
  }
    
  nav .checkbox {
    display: block;
  }
  .scripts .js-icons .js{
    left: 130px;
    width: 50%;
  }
  .scripts .html {
    top: 45px;
    right: 120px;
  }
  .scripts .css {
    right: 130px;
    top: 150px;
  }
  nav ul {
    padding: 0 10px;
  }

  .hello-json svg{
    width: 30% !important;
  }

  .section__container {
    margin-top: 0 !important;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50vh);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 3rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .card-group {
    flex-flow: column;
  }
 }
 .technologies h1 {
  text-decoration: underline;
  margin-bottom: 30px;
 }
 h2,h3,h4,h5 {
  color: #6b7280 !important;
  font-weight: 600;
  text-decoration: underline;
 }

 .App {
  background-image: url(./images/bg.jpg);
 }
 .certificates img{
  width: 20%;
 }

 .certificates a:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
    color: transparent;
 }

 .certificates {
  display: flex;
 }
 .certificates img {
  width: 60%;
 }
 .certificates .certify {
  width: 100%;
  text-align: center;
  margin: 30px 0;
 }

 .certificates .certify div {
  margin-bottom: 30px;
 }
 h1 {
  font-size: 40px;
 }
 .header-certify , .projects-header{
  text-align: center;
  text-decoration: underline;
  margin: 15px 0;
 }

 .project-worksrow .projects {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
 }
 .projects .card {
  line-height: 24px;
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
 }

 .projects .techs {
  margin: 10px 0 0;
  border: 1px solid;
  border-radius: 15px;
  width: max-content;
  padding: 2px 10px;
  background-color:black;
  color: white;
 }
 .projects .card .card-header {
  border-bottom: 1px solid var(--primary-color-dark);
  font-weight: 600;
 }
 .proj-links {
  display: inline-block;
 }